<div class="row">
	<div class="column">
		<h1>Add Project</h1>

		<form method="post" action="/admin/add" enctype="multipart/form-data">
			<div class="form-group">
				<label>Title</label>
	            <input type="text" class="form-control" name="title" value="{{project.title}}" placeholder="Title">
			</div>
			<div class="form-group">
				<label>Service</label>
				<input type="text" class="form-control" name="service" value="{{project.service}}" placeholder="Service">
			</div>
			<div class="form-group">
				<label>Client</label>
				<input type="text" class="form-control" name="client" value="{{project.client}}" placeholder="Client">
			</div>
			<div class="form-group">
				<label>Description</label>
				<textarea class="form-control" name="description" placeholder="Description">{{project.description}}</textarea>
			</div>
			<div class="form-group">
				<label>Project URL</label>
	            <input type="text" class="form-control" name="url"  value="{{project.url}}" placeholder="Project URL">
			</div>
			<div class="form-group">
				<label>Project Date</label>
				<input type="date" class="form-control" name="date" value="{{project.date}}">
			</div>
			<div class="form-group">
				<label>Image</label>
				<input type="file" class="form-control" name="project_image">
			</div>
			<input type="submit" class="submit">
		</form>
	</div>
</div>