<div class="row">
	<div class="column">
		<h1>Edit Project</h1>

		<form method="post" action="/admin/edit/{{project.id}}" enctype="multipart/form-data">
			<div class="form-group">
				<label>Title</label>
				<input type="text" class="form-control" name="title" value="{{project.title}}">
			</div>
			<div class="form-group">
				<label>Service</label>
				<input type="text" class="form-control" name="service" value="{{project.service}}">
			</div>
			<div class="form-group">
				<label>Client</label>
				<input type="text" class="form-control" name="client" value="{{project.client}}">
			</div>
			<div class="form-group">
				<label>Description</label>
				<textarea class="form-control" name="description">{{project.description}}</textarea>
			</div>
			<div class="form-group">
				<label>Project URL</label>
				<input type="text" class="form-control" name="url" value="{{project.url}}">
			</div>
			<div class="form-group">
				<label>Project Date</label>
				<input type="date" class="form-control" name="date" value="{{project.date}}">
			</div>
			<div class="form-group">
				<label>Avatar</label>
				{{#if project.image}}
					<img class="small-img" src="/avatar/{{project.image}}"/>
				{{/if}}
				<input type="file" class="form-control" name="project_image">
			</div>
			<div class="form-group">
				<input type="submit" class="submit">
			</div>
		</form>
	</div>
</div>